<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleExecutable</key>
  <string>QuotaTempo</string>
  <key>CFBundleIdentifier</key>
  <string>co.ishikawa.QuotaTempo</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>QuotaTempo</string>
  <key>CFBundleDisplayName</key>
  <string>QuotaTempo</string>
  <key>CFBundleIconFile</key>
  <string>QuotaTempo</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.4</string>
  <key>CFBundleVersion</key>
  <string>24</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.productivity</string>
  <key>LSUIElement</key>
  <true/>
  <key>SUFeedURL</key>
  <string>https://ishikawa.co/downloads/quotatempo/appcast.xml</string>
  <key>SUPublicEDKey</key>
  <string>1moR+EQE+2yPAl8bk6OoJ7JMLJNlhfWvbRt31CDPjUE=</string>
  <key>SUScheduledCheckInterval</key>
  <integer>86400</integer>
  <key>SUEnableSystemProfiling</key>
  <false/>
  <key>SUAutomaticallyUpdate</key>
  <false/>
  <key>SUAllowsAutomaticUpdates</key>
  <false/>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2026 Ishikawa Hidekazu. All rights reserved.</string>
  <key>QTReleaseChannel</key>
  <string>development</string>
  <key>QTSourceCommit</key>
  <string>development</string>
</dict>
</plist>
